@layer base {
  /* Headings */
  h1,
  h2 {
    @apply font-serif;
  }

  h1,
  .display-h1 {
    @apply mb-2 text-center text-[clamp(2rem,5vw,4.5rem)] font-normal;
  }

  h2,
  .display-h2 {
    @apply mb-5 text-[clamp(1.75rem,4vw,3rem)] font-medium;
  }

  h3,
  .display-h3 {
    @apply text-[clamp(1.5rem,3vw,2.25rem)];
  }

  a,
  button {
    @apply cursor-pointer;
  }

  /* Section Prose Styling */
  .prose {
    p,
    ul,
    ol {
      @apply py-3 leading-7;
    }

    p,
    ul > li,
    ol > li {
      @apply leading-7;
    }

    ul:not(.list-none) > li {
      @apply ms-4 list-disc;
    }

    a {
      @apply text-primary;
    }

    blockquote {
      @apply my-4 border-s-4 border-gray-300 bg-gray-50 p-4 dark:border-gray-500 dark:bg-gray-800;
      p {
        @apply text-xl leading-relaxed font-medium text-gray-900 italic;
      }
    }
  }

  /* Animations */
  section {
    @apply overflow-x-clip;
  }
}
