@layer base {
  h1,
  h2 {
    @apply font-serif;
  }

  h1,
  .display-h1 {
    @apply mb-2 text-center text-[clamp(2rem,5vw,4.5rem)] font-normal;
  }

  h2,
  .display-h2 {
    @apply mb-5 text-[clamp(1.75rem,4vw,3rem)] font-medium;
  }

  h3,
  .display-h3 {
    @apply text-[clamp(1.5rem,3vw,2.25rem)];
  }

  a,
  button {
    @apply cursor-pointer;
  }

  .prose {
    p,
    ul,
    ol {
      @apply py-3 leading-7;
    }

    p,
    ul > li,
    ol > li {
      @apply leading-7;
    }

    ul:not(.list-none) > li {
      @apply ms-4 list-disc;
    }

    a {
      @apply text-primary;
    }

    section,
    header {
      @apply mb-15;
    }
  }

  section {
    @apply overflow-x-clip;
  }
}
