@import 'tailwindcss';
@import '@nuxt/ui';

@source "./safelist.txt";

@theme {
  --font-sans: 'InterVariable', system-ui, sans-serif;
  --color-white: #f5f0eb;
  --color-black: #14161a;
}

@layer base {
  /* Headings */
  h1,
  h2 {
    @apply font-serif;
  }

  h1,
  .display-h1 {
    @apply mb-2 text-center text-5xl font-normal md:text-7xl;
  }

  h2,
  .display-h2 {
    @apply mb-5 text-3xl font-medium md:text-4xl;
  }

  h3 {
    @apply text-lg;
  }

  /* Section Prose Styling */
  section {
    .prose {
      p,
      ul,
      ol {
        @apply my-6;
      }
      p,
      ul > li,
      ol > li {
        @apply leading-7;
      }
      ul > li,
      ol > li {
        @apply ms-4 list-disc;
      }
      a {
        @apply text-primary-500;
      }
    }
    .desc {
      p {
        @apply mb-6 leading-7 last:mb-0;
      }
    }
  }

  /* Blockquotes */
  blockquote {
    @apply text-lg;
  }
  blockquote em {
    @apply text-sm;
  }
}

@layer components {
  /* Custom Carousel Styling */
  [aria-roledescription='carousel'] {
    .relative {
      @apply !aspect-1/1;
    }
    img {
      @apply m-auto aspect-1/1 object-cover;
    }
  }
}

/* Custom Width Utilities */
.w-xxs {
  @apply mx-auto w-full max-w-screen-sm;
}

.w-xs {
  @apply mx-auto w-full lg:w-2/6;
}

.w-sm {
  @apply mx-auto w-full sm:w-3/5 lg:w-2/5;
}

.w-md {
  @apply mx-auto w-full lg:w-4/6;
}

.w-lg {
  @apply mx-auto w-full lg:w-5/6;
}
