/* Tailwind & Nuxt UI imports */
@import 'tailwindcss';
@import '@nuxt/ui';

@import './safelist.inline';

/* Tailwind Theme Variables */
@theme static {
  --font-sans: 'Public Sans', system-ui, sans-serif;
  --font-mono: 'JetBrains Mono', monospace;

  --container-8xl: 96rem;
  --breakpoint-xs: 30rem;
  --ui-header-height: auto;

  --color-white: #ffffff;
  --color-black: #14161a;
}

:root {
  --ui-bg: white;
  --ui-bg-muted: var(--ui-color-neutral-50);
  --ui-bg-elevated: var(--ui-color-neutral-100);
  --ui-bg-accented: var(--ui-color-neutral-200);
  --ui-bg-inverted: var(--ui-color-neutral-900);
}

.dark {
  --ui-bg: var(--ui-color-neutral-900);
  --ui-bg-muted: var(--ui-color-neutral-800);
  --ui-bg-elevated: var(--ui-color-neutral-800);
  --ui-bg-accented: var(--ui-color-neutral-700);
  --ui-bg-inverted: white;
}
