/* Tailwind & Nuxt UI imports */
/* @import 'tailwindcss'; */
@import '@nuxt/ui';

/* Tailwind Theme Variables */
@theme static {
  --font-sans: 'InterVariable', system-ui, sans-serif;

  --container-8xl: 96rem;
  --breakpoint-xs: 30rem;
  --ui-header-height: auto;

  --color-white: #ffffff;
  --color-black: #14161a;
}

:root {
  --ui-primary: var(--ui-color-primary-500);
  --ui-container: var(--container-8xl);
}
