/* Tailwind & Nuxt UI imports */
@import 'tailwindcss';
@import '@nuxt/ui';

/* Tailwind Theme Variables */
@theme static {
  --font-sans: 'Public Sans', system-ui, sans-serif;
  --font-mono: 'JetBrains Mono', monospace;

  --container-8xl: 96rem;
  --breakpoint-xs: 30rem;

  --color-white: #ffffff;
  --color-black: #14161a;
}

:root {
  --ui-header-height: auto;
}
